.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2a2c2f;
  position: relative;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  max-width: 1280px;
  margin: 0 auto;
}