.photo-grid {
  margin: 92px 48px 0 48px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  }

  /* Media*/
@media screen and (max-width: 1024px) {
  .photo-grid{
    margin: 92px auto 0;
    max-width: calc(0.8125*100vw + 96px);
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid{
    margin-top: 88px;
    max-width: calc(0.9643*100vw - 21px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid{
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}