.places {
  margin: 92px auto 0;
  padding: 0;
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  /* Media*/
  @media screen and (max-width: 1280px) {
    .places{
      max-width: calc(0.21875*100vw + 704px);
    }
  }
  @media screen and (max-width: 1024px) {
    .places{
      max-width: calc(0.8125*100vw + 96px);
    }
  }
  @media screen and (max-width: 768px) {
    .places{
      max-width: calc(0.9643*100vw - 21px);
      margin-top: 88px;
    }
  }
  @media screen and (max-width: 320px) {
    .places{
      margin-top: 64px;
    }
  }