.cover__subtitle {
  position: relative;
  padding: 0;
  margin:  32px auto 0;
  max-width: 360px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .cover__subtitle{
    font-size: 16px;
    max-width: (0.16071*100vw + 237px);
  }
}