.cover__subtitle {
  position: relative;
  padding: 0;
  margin:  32px auto 0;
  max-width: 360px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  text-align: center;
  color: #ffffff;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .cover__subtitle{
    max-width: (0.16071*100vw + 237px);
  }
}
@media screen and (max-width: 320px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 1.14em;
    margin: 16px 16px 0 16px;
    max-width: 266px;
    width: auto;
    
  }
}