.header {
  padding: 28px 48px 0 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }
  /* Media*/
@media screen and (max-width: 1024px) {
  .header{
    max-width: calc(0.8125*100vw + 96px);
    width: 100%;
    padding: 28px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .header{
    max-width: calc(0.9643*100vw - 21px);
    width: 100%;
    padding-top: calc(0.017857*100vw + 14px);
  }
}
@media screen and (max-width: 320px) {
  .header{    
    max-width: calc(100vw - 32px);
    width: 100%;
  }
}