.footer__link {
  padding: 0 18px 0 0;
  margin: 0;
  }
  .footer__link:last-of-type {
    padding-right: 0;
  }
  @media screen and (max-width: 700px) {
    .footer__link{
      padding: 0 0 32px 0;
    }
    .footer__link:last-of-type {
      padding-bottom: 48px;
    }
  }