.header__lang-selectors {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  list-style-type: none;
}
@media screen and (max-width: 320px) {
  .header__lang-selectors{    
    padding-bottom: 8px;
  }
}