.header__lang-selectors {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: bottom;
  font-size: 24px;
  line-height: 28px;
  width: 3em;
}
@media screen and (max-width: 320px) {
  .header__lang-selectors{
    font-size: 18px;
    line-height: 20px;
  }
}