.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63em;
  color: #ffffff;
  }
  @media screen and (max-width: 768px) {
    .place__paragraph{
      font-size: 16px;
    }
  }
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }