.lead__image {
  margin: 64px auto 0;
  padding: 0;
  max-width: 984px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .lead__image{
    max-width: calc(0.21875*100vw + 704px);
  }
}
@media screen and (max-width: 1024px) {
  .lead__image{
    margin-top: 56px;
    max-width: calc(0.626*100vw + 287px);
  }
}
@media screen and (max-width: 768px) {
  .lead__image{
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .lead__image{
    margin-top: 40px;
  }
}