.lead__subtitle {
  margin: 32px auto 0;
  padding: 0;
  max-width: 640px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .lead__subtitle{
    max-width: calc(0.7857*100vw + 26px);
    font-size: calc(0.03125*100vw + 6px);
  }
}
@media screen and (max-width: 320px) {
  .lead__subtitle{
    margin-top: 16px;
  }
}