.cover {
  position: relative;  
  margin: 92px auto 0;
  padding: 0;
  max-width: 1184px;
  max-height: 740px;
  width: 100%;
  height: calc(100vw/1184*740);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2c2f;
  }
