.place__website {
  margin: 0;
  padding: 0;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  }
  @media screen and (max-width: 405px) {
    .place__website {
      max-width: calc((0.9643*100vw - 21px));
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }