.intro__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07em;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .intro__title{
    font-size: 32px;
  }
}